[DEFAULT]
home : path/to/home 
wav_folder : %(home)s/wav
mp3_folder : %(home)s/mp3
words_audio_folder : %(home)s/words_audio
token : token 
translation_service : l2china

[Dev]
host : 0.0.0.0
port : 8889
enable_client : True
appid : id
appsecret : appsecret
enable_redis : True
translation_expire_seconds : 60 * 60 * 24 * 3
mediaid_expire_seconds : 60 * 60 * 24 * 3


[Pro]
host : 127.0.0.1
port : 8888
client_client : False
enable_redis : True
tanslation_expire_seconds : 60 * 60 * 24 * 3
mediaid_expire_seconds : 60 * 60 * 24 * 3

